div.mlc-tabs {
  display: flex;
  flex-direction: column;
  height: 100vh;

  div.tabs {
    box-shadow: 0 0 4px rgb(127 127 127 / 50%);

    div.tab {
      display: inline-block;
      padding: 8px 12px;
      font-size: 19px;
      font-weight: bold;
      cursor: pointer;
      border-bottom: 2px solid transparent;

      &.selected {
        border-bottom-color: black;
      }
    }
  }

  div.content {
    padding: 10px;
    flex-grow: 1;

    > div {
      height: 100%;
    }
  }
}
